* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    font-family: "Inter", sans-serif;

}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px;
}

.midSection ul {
    display: flex;
    gap: 30px;
    font-size: 15px;

}

.midSection li {
    list-style: none;

}

.midSection a {
    text-decoration: none;
    color: #05073C;
    font-size: 15px;
}

.endSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.endSection ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.endSection {
    display: flex;

}

.endSection li {
    list-style: none;
    font-family: "Inter", sans-serif;
    color: #05073C;
}

.endSection a {
    text-decoration: none;
    color: #05073C;
    font-size: 15px;
}


button {
    padding: 10px 16px;
    background-color: white;
    color: #05073C;
    border-radius: 18px;

    font-size: 15px;
}


.heroSection {
    width: 100%;
    height: 750px;
    background-image: url("Assets/hero/backgrond\ image.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* border:3px solid #05073C; */

}

.heading {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border:2px solid black; */

}

.heading h1 {
    font-family: "Inter", sans-serif;
    background: linear-gradient(90deg, hsla(18, 81%, 66%, 1) 0%, hsla(244, 52%, 52%, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding: 15px;
}

.cylindr {
    width: 650px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 30px;
    /* border:2px solid black; */
    padding: 0px 10px;


}



#where,
#when,
#tour {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;

}

#where li,
#when li,
#tour li {
    list-style: none;
}

#pcly {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EB662B0D;
}

#cly {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EB662B;

}

.popularThings {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    /* border:3px solid #05073C; */
   
    

}

.container {
    height: 90%;
    width: 90%;
    /* border: 3px solid #05073C; */
    padding: 80px 110px;
}

#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 250px; */
    padding: 0px 110px;
}

#heading h1 {
    color: #05073C;
    font-size: 30px;
}


.popularImg {
    display: grid;
    grid-template-areas:
        'b1  b2  b3  b3'
        'b1  b4  b5  b6'
    ;
    grid-gap: 20px;


}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* flex-direction: column; */
    border-radius: 10px;
    padding: 40px;
}

.box p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

#box1 {
    width: 410px;
    height: 510px;
    grid-area: b1;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
}


#box2 {
    width: 300px;
    height: 240px;

    grid-area: b2;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(5\).png");
    background-size: contain;
    background-repeat: no-repeat;
}

#box3 {
    width: 520px;
    height: 240px;
    grid-area: b3;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(3\).png");
    background-size: contain;
    background-repeat: no-repeat;

    /* background-attachment: fixed; */
}

#box4 {
    width: 300px;
    height: 240px;
    grid-area: b4;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(4\).png");
    /* background-size: contain; */
    background-size: contain;
    background-repeat: no-repeat;
}

#box5 {
    width: 190px;
    height: 240px; 
    grid-area: b5;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(2\).png");
    background-size: contain;
    background-repeat: no-repeat;
}

#box6 {
    width: 300px;
    height: 240px;
    grid-area: b6;
    background-image: url("./Assets/popularImage/div.featureCard__image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.chooseTourz {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 50px;

}

#chooseTourz {
    font-size: 30px;
    color: #05073C;
    padding: 0px 150px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 150px;
}



.card1,
.card2,
.card3,
.card4 {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.card1 h4,
.card2 h4,
.card3 h4,
.card4 h4 {
    font-size: 16px;
    color: #05073C;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p {
    font-size: 15px;
    color: #05073C;
}

.trips {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 102, 43, 0.05);
    padding: 50px;
}

.FeaturedTrips {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;

}

#h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #05073C;
    padding: 20px 110px;

}

#h1 h1 {
    font-size: 30px;
}

.boxesFirstRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boxesSecoundRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#box11,
#box22,
#box33,
#box44 {
    width: 285px;
    height: 400px;
    border: 2px solid #E7E6E6;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    color: #05073C;
    background-color: #FFFFFF;
}

#box11 img {

    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box22 img {

    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box33 img {

    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box44 img {

    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#days {
    width: 100%;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.destinations{
    background-color: #05073C;
    padding: 50px;
}
.heading1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    /* gap: 0px; */
    margin: 0px 60px;
}

.places {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

#place {
    width: 300px;
    height: 400px;
    border: 3px solid #05073C;
}

.list1 {
    background-image: url("Assets/Destinations/bali.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list2 {
    background-image: url("./Assets/Destinations/italy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list3 {
    background-image: url("Assets/Destinations/Phuket.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list4 {
    background-image: url("Assets/Destinations/Paris.png");
    background-size: contain;
    background-repeat: no-repeat;
}







.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}

.reviews h1 {
    font-size: 30px;
    color: #05073C;
}

.para {
    width: 860px;
    height: auto;
    text-align: center;
}

.para p {
    color: #05073C;
    font-size: 20px;
}

.paragraphs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragraphs p {
    font-size: 16px;
    color: #05073C;
}

.reviewImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.circle {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.articles {
    padding: 100px;
}

.heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 900px;
    padding: 50px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.paras1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.dataCards {
    width: 400px;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    /* border:2px solid #05073C; */
}

.dataCards img {
    width: 400px;

}

.phone {
    width: 100%;
    /* height: 550px; */
    background-image: url("Assets/phone/Frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0px 50px;
    /* border:2px solid #05073C; */
}

.phoneLeft {
    width: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 70px 80px;
    color: #FFFFFF;
    /* padding: 100px 150px; */
    /* border:2px solid #05073C; */
}

.phoneLeft h1 {
    font-size: 40px;
}

.para12 {
    width: 350px;
    color: #FFFFFF;

    /* border:2px solid #05073C; */
}

.para12 p {
    font-size: 15px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email p {
    font-size: 15px;
    padding: 10px;
}

.email1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email1 input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.email1 button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.phoneRight img {
    width: 550px;
    height: 380px;
}

.phoneRight {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 5px solid #05073C; */
    position: absolute;
    left: 760px;
    bottom: 0px;
}

.footer {
    background-color: #05073C;
    /* padding: 60px; */
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 200px;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 200px;
}

.footer2 h5 {
    font-size: 20px;
}

.footer2 p {
    font-size: 15px;
}

.contact {
    width: 440px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.contactp {
    width: 431px;
    height: 50px;
    /* border:2px solid #E7E6E6; */

}

.fbox1 {
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border:2px solid #E7E6E6; */

}

.fbox4 {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border:2px solid #E7E6E6; */

}

#fbox4 {
    width: 280px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

#fbox4 input,
button {
    padding: 10px;
    border: none;
    color: #05073C;
}

.copyRight {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}


@media(max-width:320px) {







    
 }  


























