@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    font-family: "Inter", sans-serif;

}


.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 30px;
}

.logo {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px;
}

.midSection ul {
    display: flex;
    gap: 30px;
    font-size: 15px;

}

.midSection li {
    list-style: none;

}

.home li a {
    color: #EB662B;
}

.midSection a {
    text-decoration: none;
    color: #05073C;
    font-size: 15px;
}

.midSection a:hover {
    width: 100%;
    background-color: #EB662B;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.endSection {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* border: 2px solid #05073C; */
}

.endSection ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}


.endSection li {
    list-style: none;
    font-family: "Inter", sans-serif;
    color: #05073C;
}

.endSection a {
    text-decoration: none;
    color: #05073C;
    font-size: 15px;
}


.endSection button {
    padding: 10px 16px;
    background-color: white;
    color: #05073C;
    border-radius: 18px;
    border: 2px solid #05073C;
    /* font-size: 15px; */
}

.endSection button:hover {
    background-color: #EB662B;
    color: white;
}

.endSection a:hover {

    background-color: #EB662B;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.hamburger{
    display: none;
}

.hamburger i{
    font-size: 35px;
    font-weight: 800;

}

.sidebar {

    /* position: fixed; */
    top: 0;
    right: 0;
    /* width: 300px; */
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rbga(0, 0, 0, 0.1);
    /* display: none; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.navbar a {
    font-size: 12px;
}

.endSection button {
    padding: 8px 14px;
    background-color: white;
    color: #05073C;
    border-radius: 18px;
    border: 2px solid #05073C;
    font-size: 12px;
}


/* mobile menu  */

.mobile-menu {
    display: none;
}

.heroSection {
    width: 100%;
    height: 750px;
    background-image: url("Assets/hero/backgrond\ image.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    gap: 10px;
    /* border:3px solid #05073C; */

}

.heading {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* border:2px solid black; */

}

.heading h1 {
    font-family: "Inter", sans-serif;
    background: linear-gradient(90deg, hsla(18, 81%, 66%, 1) 0%, hsla(244, 52%, 52%, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;

}

.cylindr {
    width: 650px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 30px;
    /* border:2px solid black; */
    padding: 20px 10px;


}




#where,
#when,
#tour {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;

}

#where li,
#when li,
#tour li {
    list-style: none;
}

#pcly {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EB662B0D;
}

#cly {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EB662B;

}

/* hero section completed */

.popularThings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
    padding: 20px 110px;
}

#heading h1 {
    color: #05073C;
    font-size: 30px;
}


.container {
    width: 90%;
    height: 550px;
    /* padding: 50px; */
}

.popularImg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* grid-auto-rows: 150px; */

}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 10px;
}



.box p {
    color: #ffffff;
    font-size: 25px;
    padding: 30px;

}

#box1 {
    width: 100%;
    /* height: 400px; */
    grid-row: span 2;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(1\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;



}

#box2 {
    width: 100%;

    background-image: url("Assets/popularImage/div.featureCard__image\ \(5\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#box3 {
    width: 100%;

    grid-column: span 2;
    background-image: url("Assets/popularImage/div.featureCard__image\ \(3\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#box4 {

    width: 100%;

    background-image: url("Assets/popularImage/div.featureCard__image\ \(4\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#box5 {
    width: 100%;

    background-image: url("Assets/popularImage/div.featureCard__image\ \(2\).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#box6 {
    width: 100%;
    background-image: url("Assets/popularImage/div.featureCard__image.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* grid section completed  */






.chooseTourz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    padding: 20px;

}

#chooseTourz {
    display: flex;
    justify-content: center;
    align-items: center;

}


#chooseTourz h1 {
    /* font-size: 30px; */
    color: #05073C;
    padding-left: 100px;

}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left:  100px;
}



.card1 {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.card1 h4 {
    font-size: 16px;
    color: #05073C;
}

.card1 p {
    font-size: 15px;
    color: #05073C;
}


/* tourz section completed  */

.trips {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 102, 43, 0.05);
    padding: 50px;
}

.FeaturedTrips {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;

}

#h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #05073C;
    padding: 20px 60px;

}

#h1 h1 {
    font-size: 30px;
}

.boxesFirstRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boxesSecoundRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#box11,
#box22,
#box33,
#box44 {
    width: 285px;
    height: 400px;
    border: 2px solid #E7E6E6;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    color: #05073C;
    background-color: #FFFFFF;
}

#box11 img {

    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box22 img {

    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box33 img {

    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box44 img {

    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#days {
    width: 100%;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}







.destinations {
    background-color: #05073C;
    padding: 50px;
}

#places1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 80px;

}

.places {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

#place {
    width: 300px;
    height: 400px;
    /* border: 3px solid #05073C; */
}

.list1 {
    background-image: url("Assets/Destinations/bali.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list2 {
    background-image: url("./Assets/Destinations/italy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list3 {
    background-image: url("Assets/Destinations/Phuket.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list4 {
    background-image: url("Assets/Destinations/Paris.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 100px 0;
}

.reviews h1 {
    font-size: 30px;
    color: #05073C;
}

.para {
    width: 860px;
    height: auto;
    text-align: center;
}

.para p {
    color: #05073C;
    font-size: 20px;
}

.paragraphs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragraphs p {
    font-size: 16px;
    color: #05073C;
}

.reviewImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.circle {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.articles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 100px; */
}

.heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 900px;
    /* padding: 50px; */
}


.data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.paras1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.dataCards {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    /* border:2px solid #05073C; */
}

.tripes123 {
    width: 100px;
    height: 60px;
    background-color: red;

}

.dataCards img {
    width: 400px;

}


.phone {
    width: 100%;
    /* height: 550px; */
    /* background-image: url("Assets/phone/Frame.png"); */
    background-color: #EB662B;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-direction: column; */
    gap: 20px;
    padding: 0px 50px;
    /* border:2px solid #05073C; */
}

.phoneLeft {
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px;
    color: #FFFFFF;
    /* padding: 100px 150px; */
    /* border: 5px solid #05073C; */
}

.phoneLeft h1 {
    font-size: 40px;
}

.para12 {
    width: 350px;
    color: #FFFFFF;

    /* border:2px solid #05073C; */
}

.para12 p {
    font-size: 15px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email p {
    font-size: 15px;
    padding: 10px;
}

.email1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email1 input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.email1 button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.phoneRight img {
    width: 550px;
    height: 380px;
    /* border:2px solid #05073C; */
}

.phoneRight {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 5px solid #05073C; */
    /* padding-left: 130px;
    padding-top: 10px; */


}




.footer {

    background-color: #05073C;
    color: white;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
    flex-wrap: wrap;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 100px;
}

.footer2 h5 {
    font-size: 20px;
}

.footer2 p {
    font-size: 15px;
}

.contact {
    width: 440px;
    width: calc(50% - 10px);
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.contactp {
    width: 431px;
    height: 50px;
    /* border:2px solid #E7E6E6; */

}

.fbox1 {
    width: 200px;
    width: calc(50% - 10px);
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border:2px solid #E7E6E6; */

}

.fbox4 {
    width: 300px;
    width: calc(50% - 10px);
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border:2px solid #E7E6E6; */

}

#fbox4 {
    width: 280px;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

#fbox4 input,
button {
    padding: 10px;
    border: none;
    color: #05073C;
}

.copyRight {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

